* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: courier;
}

section {
  background: #eee;
  max-width: 1377px;
  margin: 0 auto;
  padding: 10px;
  overflow: hidden;
}

.module {
  width: 48%;
  min-height: 200px;
  background: white;
  position: relative;
  float: left;
  padding: 10px;
  padding-top: 10%;
  margin-right: 4%;
  margin-bottom: 4%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
.module:nth-child(even) {
  margin-right: 0;
}
body {
    background-image: url("../pictures/bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin:0;
}
.come-in {
  transform: translateY(300px);
  animation: come-in 1.0s ease forwards;
}

.come-in:nth-child(odd) {
  animation-duration: 1.0s;
}

.already-visible {
  transform: translateY(0);
  animation: none;
}

@keyframes come-in {
  to {
    transform: translateY(0);
  }
}
.header {
    padding: 30px;
    text-align: center;
}
input[type=text], select {
    width: 190px;
    float: right;
    padding: 12px 20px;
    padding-top: 10px;
    position: relative;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
#wrap {
    overflow: hidden;
}
#navbar {
    overflow: hidden;
    padding: inherit;
    background-color: #333;
    z-index: 1;
    max-width: 1377px;
}

#navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

#navbar a.active {
  background-color: #4CAF50;
  color: white;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 1357px;
}

.sticky + .content {
  padding-top: 60px;
}