﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="index.aspx.cs" Inherits="_Default" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta charset="UTF-8"/>
    <title>Project beta</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="./css/style.css" />

</head>

<body>
    <form id="form1" runat="server">

        <section id="wrap">
            <div class="header" style ="background-image: url('../pictures/headbg.jpg');">
                <font color="white">
                <h1>Food Inc.</h1>
                <p>The only place for all your recepies.</p>
                </font>
            </div>

            <div id="navbar">
                <a class="active" href="javascript:void(0)">Home</a>
                <a href="javascript:void(0)">Recepies</a>
                <a href="javascript:void(0)">Recepie Storage</a>
                <a href="javascript:void(0)">Info</a>
                <a href="javascript:void(0)">Log in</a>
                <asp:TextBox ID="search" runat="server" Text="Search.."></asp:TextBox>
            </div>
            <div class="content">
                <div class="module">Hello World</div>
                <div class="module">Hello World</div>
                <div class="module">Hello World</div>
                <div class="module">Hello World</div>
                <div class="module">Hello World</div>
                <div class="module">Hello World</div>
                <div class="module">Hello World</div>
                <div class="module">Hello World</div>
                <div class="module">Hello World</div>
                <div class="module">Hello World</div>
                <div class="module">Hello World</div>
                <div class="module">Hello World</div>
                <div class="module">Hello World</div>
                <div class="module">Hello World</div>
                <div class="module">Hello World</div>
                <div class="module">Hello World</div>
                <div class="module">Hello World</div>
                <div class="module">Hello World</div>
                <div class="module">Hello World</div>
                <div class="module">Hello World</div>
                <div class="module">Hello World</div>
                <div class="module">Hello World</div>
                <div class="module">Hello World</div>
                <div class="module">Hello World</div>
                <div class="module">Hello World</div>
                <div class="module">Hello World</div>
                <div class="module">Hello World</div>
                <div class="module">Hello World</div>
                <div class="module">Hello World</div>
                <div class="module">Hello World</div>
            </div>
        </section>
        <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
        <script src="js/index.js"></script>

</form>
</body>

</html>